Repository threlte/threlte, pull requests merged in 2023-12, with the labels that each got.

#699 Improve linting, format, typecheck
  packages/extras/package.json
  packages/extras/src/lib/components/Instancing/PositionMesh.ts
  packages/extras/src/lib/components/controls/TransformControls/TransformControls.svelte
  packages/extras/src/lib/hooks/useCursor.ts
  packages/extras/src/lib/interactivity/setupInteractivity.ts
  packages/extras/src/lib/layers/types.ts
  packages/extras/src/lib/transitions/transitions-plugin.ts
  packages/xr/.eslintrc.cjs
  packages/xr/.prettierignore
  packages/xr/package.json
  packages/xr/src/lib/components/Hand.svelte
  packages/xr/src/lib/components/XR.svelte
  packages/xr/src/lib/hooks/useHitTest.ts
  packages/xr/src/lib/hooks/useTeleport.ts
  packages/xr/src/lib/internal/setupHeadset.ts
  packages/xr/src/routes/scene.svelte
  packages/xr/tsconfig.json
  pnpm-lock.yaml
Labels: enhancement, xr

#739 chore: update extras components to useTask
  .changeset/soft-phones-prove.md
  packages/extras/src/lib/components/Align/Align.svelte
  packages/extras/src/lib/components/AnimatedSpriteMaterial/AnimatedSpriteMaterial.svelte
  packages/extras/src/lib/components/CSM/CSM.svelte
  packages/extras/src/lib/components/ContactShadows/ContactShadows.svelte
  packages/extras/src/lib/components/Float/Float.svelte
  packages/extras/src/lib/components/HTML/HTML.svelte
  packages/extras/src/lib/components/Instancing/Api.svelte
  packages/extras/src/lib/components/Sky/Sky.svelte
  packages/extras/src/lib/components/controls/OrbitControls/OrbitControls.svelte
  packages/extras/src/lib/hooks/useGamepad.ts
  packages/extras/src/lib/hooks/useGltfAnimations.ts
Labels: enhancement, extras

#755 Update @threlte/xr to use task scheduler
  .changeset/slimy-ravens-shake.md
  packages/xr/src/lib/components/Hand.svelte
  packages/xr/src/lib/components/internal/PointerCursor.svelte
  packages/xr/src/lib/components/internal/TeleportCursor.svelte
  packages/xr/src/lib/components/internal/TeleportRay.svelte
  packages/xr/src/lib/hooks/useHandJoint.ts
  packages/xr/src/lib/hooks/useHitTest.ts
  packages/xr/src/lib/internal/setupHeadset.ts
  packages/xr/src/lib/internal/useFixed.ts
  packages/xr/tsconfig.json
Labels: enhancement, xr

#750 Fix broken URLs returned from `getGithubEditUrl`
  apps/docs/src/lib/getGithubEditUrl.ts
Labels: bug, docs

#768 Allow reactive `<Portal>` ids
  .changeset/loud-panthers-cough.md
  packages/extras/src/lib/components/portals/Portal/Portal.svelte
Labels: bug, extras

#723 `<Gizmo>`
  .changeset/nine-rocks-serve.md
  apps/docs/src/content/reference/extras/gizmo.mdx
  apps/docs/src/examples/extras/gizmo/App.svelte
  apps/docs/src/examples/extras/gizmo/Scene.svelte
  packages/extras/src/lib/components/Gizmo/Gizmo.d.ts
  packages/extras/src/lib/components/Gizmo/Gizmo.svelte
  packages/extras/src/lib/index.ts
Labels: enhancement, extras

#781 render modes docs
  .vscode/settings.json
  apps/docs/src/content/learn/basics/render-modes.mdx
Labels: docs, enhancement

#797 Fix instancedMesh deprecation warning
  .changeset/odd-trainers-repair.md
  .changeset/wet-stingrays-grow.md
  packages/core/src/lib/index.ts
  packages/core/src/lib/lib/revision.ts
  packages/extras/src/lib/components/Instancing/Api.svelte
Labels: bug, extras
