Repository threlte/threlte, pull requests merged in 2023-11, with the labels that each got.

#731 Refactor and fix bugs in `<Controller>`, `<Hand>`, and `<XR>`
  .changeset/red-gorillas-cheat.md
  apps/docs/src/examples/xr/use-hit-test/Scene.svelte
  packages/xr/src/lib/components/ARButton.svelte
  packages/xr/src/lib/components/Controller.svelte
  packages/xr/src/lib/components/Hand.svelte
  packages/xr/src/lib/components/XR.svelte
  packages/xr/src/lib/components/XRButton.svelte
  packages/xr/src/lib/components/internal/PointerCursor.svelte
  packages/xr/src/lib/components/internal/TeleportCursor.svelte
  packages/xr/src/lib/hooks/useController.ts
  packages/xr/src/lib/hooks/useHand.ts
  packages/xr/src/lib/hooks/useHandJoint.ts
  packages/xr/src/lib/hooks/useHeadset.ts
  packages/xr/src/lib/hooks/useHitTest.ts
  packages/xr/src/lib/hooks/useTeleport.ts
  packages/xr/src/lib/internal/setupControllers.ts
  packages/xr/src/lib/internal/setupHands.ts
  packages/xr/src/lib/internal/setupHeadset.ts
  packages/xr/src/lib/internal/setupRaf.ts
  packages/xr/src/lib/internal/stores.ts
  packages/xr/src/lib/internal/useHandTrackingState.ts
  packages/xr/src/lib/lib/toggleXRSession.ts
  packages/xr/src/lib/plugins/pointerControls/setup.ts
  packages/xr/src/lib/plugins/pointerControls/types.ts
  packages/xr/src/lib/plugins/teleportControls/context.ts
  packages/xr/src/lib/plugins/teleportControls/hook.ts
  packages/xr/src/lib/plugins/teleportControls/plugin.ts
  packages/xr/src/lib/types.ts
  packages/xr/src/routes/Teleport.svelte
  packages/xr/src/routes/scene.svelte
Labels: bug, xr

#738 Docs and SEO pass
  apps/docs/src/components/Footer/Footer.astro
  apps/docs/src/components/Hero/HeroWrapper.svelte
  apps/docs/src/components/Hero/Intro/Intro.svelte
  apps/docs/src/components/ManualInstallGuide/ManualInstallGuide.svelte
  apps/docs/src/components/Menu/BurgerIcon.svelte
  apps/docs/src/components/Sections/FeatureSection.astro
  apps/docs/src/components/Socials/Socials.astro
  apps/docs/src/components/Testimonials/Testimonial.astro
  apps/docs/src/content/learn/basics/app-structure.mdx
  apps/docs/src/content/learn/getting-started/introduction.mdx
  apps/docs/src/content/learn/getting-started/your-first-scene.mdx
  apps/docs/src/content/reference/xr/getting-started.mdx
  apps/docs/src/layouts/AppLayout.astro
  apps/docs/src/pages/index.astro
Labels: docs

#733 Set `pointerEvents` for `noTransform` divs
  .changeset/shy-keys-own.md
  packages/extras/src/lib/components/HTML/HTML.svelte
Labels: bug, extras
